.header {
  height: 3rem;
  width: 100%;
  display: flex;
  background-color: #00aeed;
  justify-content: flex-end;
  align-items: center;
}
.header a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  margin: 0 0.8rem;
}
.header a:active,
a:hover {
  text-decoration: underline;
}
